/* login.page.scss */

ion-content {
  --background: #6b332c !important;
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 60px;
  --padding-bottom: 50px;
}

.login-container {
  height: 100%;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;     
  text-align: center;      
  width: 100%;
}

/* Welcome Text */
.top-title {
  color: #ffffff;
  margin-bottom: 50px;
}

.top-title h1 {
  font-size: 35px;
  font-weight: 800;
  margin: 0;
}

.top-title span {
  color: #d6948d;
}

.top-subtitle {
  font-size: 14px;
  opacity: 0.9;
  margin-top: 4px;
}

.login-card {
  width: 90%;
  max-width: 400px;
  background: #ffffff;
  border-radius: 18px;
  padding: 28px 24px;
  text-align: center;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.1);
  margin: 0 auto; 
}


/* Form Titles */
.form-title {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
  color: #222;
}

.form-subtitle {
  margin-top: 6px;
  margin-bottom: 28px;
  font-size: 14px;
  color: #555;
}

/* Base input field styles  */
.input-field {
  margin-top: 10px;
  border-radius: 15px;
  --background: #ffffff;      
  padding: 4px 10px;
  font-size: 14px;
  --box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
  border: 2px solid #e0e0e0; 
  transition: all 0.3s ease;
}

.input-field:focus-within {
  --box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12);
  border: 2px solid #b2493d;  
}

.input-field ion-label {
  color: #777;
  font-weight: 700;
  font-size: 13px;
  transition: color 0.3s ease;
}

.input-field:focus-within ion-label {
  color: #b2493d;
}

/* Button */
.action-btn {
  margin-top: 25px;
  height: 43px;
  font-size: 13px;
  border-radius: 12px;
  --background: #b2493d;
  color: #fff;
  font-weight: 700; 
}

/* Error Text */
.error-text {
  margin-top: 12px;
  font-size: 14px;
}

/* Switch Login/Register */
.switch-text {
  margin-top: 20px;
  font-size: 14px;
  color: #6d5350;
  font-weight: 600;
  cursor: pointer;
}



