// src/app/profile/profile.page.scss
.profile-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 20px 0;
  border: 3px solid var(--ion-color-primary);
  object-fit: cover;
}
