// src/global.scss

// Ionic core & basic CSS
@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

// Optional Ionic utilities
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

// App Theme

:root {
  /* Primary theme color*/
  --ion-color-primary: #b2493d;
  --ion-color-primary-rgb: 178, 73, 61;

  /* Background and text */
  --ion-background-color: #fafafa;
  --ion-text-color: #2c3e50;

  font-family: 'Poppins', 'Roboto', sans-serif;
  background-color: var(--ion-background-color);
  color: var(--ion-text-color);
}

/* Basic header style */
ion-header,
ion-toolbar {
  background: var(--ion-color-primary);
  color: white;
  font-weight: 600;
}

/* Layout Fix  */
html,
body {
  height: 100%;
  overflow: hidden !important;
  margin: 0;
  padding: 0;
}

ion-app,
ion-router-outlet,
ion-page {
  height: 100%;
  overflow: hidden !important;
  display: flex;
  flex-direction: column;
}

/* Main Scroll Area */
ion-content {
  flex: 1;
  overflow-y: auto !important;
  overflow-x: hidden !important;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  padding-bottom: 4rem; 
  scrollbar-width: none; 
  -ms-overflow-style: none;
}

ion-content::-webkit-scrollbar,
ion-content::part(scroll)::-webkit-scrollbar,
ion-content::part(scroll)::-webkit-scrollbar-thumb {
  display: none !important; 
  width: 0 !important;
  height: 0 !important;
}

.task-content {
  overflow: visible !important;
  height: auto !important;
  
}














